.retangulo {
    position: absolute;
    top: 29px;
    left: 590px;
    width: 685px;
    height: 67px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 17px;
    opacity: 1;
}

.blocaocinza {
    position: absolute;
    top: 2204px;
    left: 0px;
    width: 1865px;
    height: 604px;
    background: #E9E9E9 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #1C2126;
}

.bolinha1 {
    width: 48px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #00000014;
    border-radius: 1000px;
    opacity: 1;
    top: 427px;
    left: 248px;
    position: absolute;
}

.bolinha2 {
    width: 48px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #00000014;
    border-radius: 1000px;
    opacity: 1;
    top: 427px;
    left: 348px;
    position: absolute;
}

.bolinha3 {
    width: 48px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #00000014;
    border-radius: 1000px;
    opacity: 1;
    top: 427px;
    left: 448px;
    position: absolute;
}

.bolinha4 {
    width: 48px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #00000014;
    border-radius: 1000px;
    opacity: 1;
    top: 427px;
    left: 548px;
    position: absolute;
}

.bolinha5 {
    width: 48px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #00000014;
    border-radius: 1000px;
    opacity: 1;
    top: 427px;
    left: 648px;
    position: absolute;
}

body {
    color: #FEFEFE;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
}

/* Botões */

.botaoE {
    position: absolute;
    top: 39px;
    left: 1099.5px;
    margin: 0px;
    padding: 0px;
}

.botaoE a,
.botaoE a:visited {
    font: 22px/48px arial, helvetica;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #62278E center center;
    width: 144px;
    height: 48px;
    border-radius: 8px;
    display: block;
}

.botaoE a:hover {
    background: #62278E center center;
    color: #dadada;
}

.Inicio {
    position: absolute;
    top: 38px;
    left: 674.5px;
    width: 43px;
    height: 22px;
}

.ONGS {
    position: absolute;
    top: 40px;
    left: 747.5px;
    width: 55px;
    height: 27px;
}

.Ajudar {
    position: absolute;
    top: 40px;
    left: 832.5px;
    width: 87px;
    height: 22px;
}

.Ajudar a,
.Ajudar a:visited {
    text-decoration: none;
    color: #8B8B8B;
    font-family: Arial, Helvetica, sans-serif;
}

.Ajudar a:hover {
    color: #000000;
    font-size: 110%;
}

.Sobre {
    position: absolute;
    top: 40px;
    left: 916.5px;
    width: 45px;
    height: 22px;
}

.Contato {
    position: absolute;
    top: 40px;
    left: 998.54px;
    width: 62px;
    height: 22px;
}

.Inicio a,
.Inicio a:visited {
    text-decoration: underline;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.ONGS a,
.ONGS a:visited {
    text-decoration: none;
    color: #8B8B8B;
    font-family: Arial, Helvetica, sans-serif;
}

.ONGS a:hover {
    color: #000000;
    font-size: 110%;
}

.Sobre a,
.Sobre a:visited {
    text-decoration: none;
    color: #8B8B8B;
    font-family: Arial, Helvetica, sans-serif;
}

.Sobre a:hover {
    color: #000000;
    font-size: 110%;
}

.Contato a,
.Contato a:visited {
    text-decoration: none;
    color: #8B8B8B;
    font-family: Arial, Helvetica, sans-serif;
}

.Contato a:hover {
    color: #000000;
    font-size: 110%;
}

footer {
    position: absolute;
    top: 2729px;
    left: 0px;
    width: 1865px;
    height: 80px;
    background: transparent linear-gradient(90deg, #9AB9E4 0%, #91E1BE 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    display: inline;
}

.linha {
    position: absolute;
    top: 932px;
    left: 880px;
    width: 80px;
    height: 0px;
    border: 2px solid #CFCFCF;
    opacity: 1;
}

.blocaocinza2 {
    position: absolute;
    top: 1600px;
    left: 0px;
    width: 1865px;
    height: 604px;
    background: #dddddd 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #1C2126;
}

.espaco {
    margin-top: 229px;
}


.boxPAG1 {
    position: absolute;
    top: 1014px;
    left: 150px;
    width: 299px;
    height: 413px;
    background: rgba(255, 0, 0, 0);
    color: #1C2126;
}

.botaoPAG1 {
    position: absolute;
    top: 330px;
    left: 85px;
    width: 126px;
    height: 38px;
}

.botaoPAG1 a,
.botaoPAG1 a:visited {
    font: 12px/17px arial, helvetica;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #4525F2 center center;
    width: 126px;
    height: 38px;
    border-radius: 8px;
    display: block;
    text-align: center;
    line-height: 35px;
}

.botaoPAG1 a:hover {
    background: #4525F2 center center;
    color: #dadada;
}

.boxPAG2 {
    position: absolute;
    top: 1014px;
    left: 550px;
    width: 299px;
    height: 413px;
    background: rgba(255, 0, 0, 0);
    color: #1C2126;
}

.botaoPAG2 {
    position: absolute;
    top: 330px;
    left: 85px;
    width: 126px;
    height: 38px;
}

.botaoPAG2 a,
.botaoPAG2 a:visited {
    font: 12px/17px arial, helvetica;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #4525F2 center center;
    width: 126px;
    height: 38px;
    border-radius: 8px;
    display: block;
    text-align: center;
    line-height: 35px;
}

.botaoPAG2 a:hover {
    background: #4525F2 center center;
    color: #dadada;
}

.boxPAG3 {
    position: absolute;
    top: 1014px;
    left: 990px;
    width: 299px;
    height: 413px;
    background: rgba(255, 0, 0, 0);
    color: #1C2126;
}

.botaoPAG3 {
    position: absolute;
    top: 330px;
    left: 85px;
    width: 126px;
    height: 38px;
}

.botaoPAG3 a,
.botaoPAG3 a:visited {
    font: 12px/17px arial, helvetica;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #4525F2 center center;
    width: 126px;
    height: 38px;
    border-radius: 8px;
    display: block;
    text-align: center;
    line-height: 35px;
}

.botaoPAG3 a:hover {
    background: #4525F2 center center;
    color: #dadada;
}

.boxPAG4 {
    position: absolute;
    top: 1014px;
    left: 1390px;
    width: 299px;
    height: 413px;
    background: rgba(255, 0, 0, 0);
    color: #1C2126;
}

.botaoPAG4 {
    position: absolute;
    top: 330px;
    left: 85px;
    width: 126px;
    height: 38px;
}

.botaoPAG4 a,
.botaoPAG4 a:visited {
    font: 12px/17px arial, helvetica;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background: #4525F2 center center;
    width: 126px;
    height: 38px;
    border-radius: 8px;
    display: block;
    text-align: center;
    line-height: 35px;
}

.botaoPAG4 a:hover {
    background: #4525F2 center center;
    color: #dadada;
}